# Rename `.env.local.example` to `.env.local` and update the following:
# Check gitignore to ensure your `.env.local` file is not commited or push to repo

# Define Base URL
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Define Supabase URL
NEXT_PUBLIC_SUPABASE_URL=https://uv.supabase.co

# Define Supabase Anon Key
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyehidethislol

# RPC
# Helius
NEXT_PUBLIC_HELIUS_RPC_API_KEY=2w9eu-3yqwyw